{block content}
<div class="container">
    <h1 class="text-center">Reset password example project</h1>
    <p>This is example nette project, where you can reset your password.</p>
    <a href="#">Reset</a>
</div>