{block content}
<div class="container">
    <h1 class="text-center homepage-welcome-heading">Reset password example project</h1>
    <p class="homepage-welcome-text">This is example nette project, where you can reset your password.</p>
    <a href="{plink :ResetPassword:default}" class="homepage-welcome-linkButton waves-effect waves-light btn btn-large" href="#">
        Reset
    </a>
</div>