{block content}
<div class="container">
    <h1 class="reset-reset-heading">
        Reset password
    </h1>
    {snippet resetForm}
        <div class="reset-reset-form">
            {control resetForm}
        </div>
    {/snippet}
</div>
