{block content}
<div class="container">
    <h1 class="reset-reset-heading">
        Reset password
    </h1>
    {snippet resetForm}
        <div class="reset-reset-form">
            {if $resetDone === false}
                {control resetForm}
            {else}
                <p class="reset-form-success">Password was successfully reset.</p>
                <a href="{plink :Homepage:default}" class="reset-reset-linkButton waves-effect waves-light btn btn-large" href="#">
                    Back
                </a>
            {/if}
        </div>
    {/snippet}
</div>
